@charset "UTF-8";

html * {
	/*font-size: 1em !important;*/
	color: #FFFFFF; /*!important*/
	font-family: "Lucida Console", Monaco, monospace !important;
	-webkit-font-smoothing: antialiased;
}

body {
	background-color: #581845;
}

.centercolumn {
}

.centercolumn p {
	width: 40%; /* must come before you align text */
	text-align: justify;
}

.centercolumn h1, h2 {
	width: 40%;
	text-align: center;
}

.centercolumn h3 {
	margin-top: 100px;
	width: 40%;
	text-align: center;
}

.thispage {
	font-size: 125%;
}

.hline {
	align-self: center;
	display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 0;
    padding: 0;
    width: 40%;
}

#aboutme {
	margin-top: 100px;
}

#aboutme p {
	font-size: 20px;
}

#footerdelim {
	margin-top: 100px;
}

#mainnav {
	text-align:center;
}

#mainnav ul {
	padding: 0px; /*http://stackoverflow.com/questions/30857398/nav-bar-not-centered-properly-html-css*/
	margin: 6px;
	margin-bottom: 9px;
	list-style: none;
	height: 20px;
	/*display: inline-block;*/
	/*list-style-type: none;*/
}

#mainnav ul li {
	/*position: relative;
	top: 20px;*/
	text-align: center !important;
	text-align: center;
	line-height: 1px; /* THIS is what is vertically centering the text https://css-tricks.com/centering-list-items-horizontally-slightly-trickier-than-you-might-think/ */
	display: inline-block; /* appear inline rather than as bullets */
	width: 11%;
}

#mainnav ul li a {
	text-decoration: none;
	transition: all 0.1s ease; /* https://css-tricks.com/snippets/css/scale-on-hover-with-webkit-transition/ */
    /*width: 10%;*/ 

    /*display: block;*/
	display: inline-block;
	vertical-align: middle;
    float:center; /*centers text so that it expands uniformly*/
    /*background-color: #4D4D4D;*/
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    /* padding-top: 6px; */
    /* padding-bottom: 6px; */


}

/* CSS jitter? https://css-tricks.com/avoid-css-jitter/ */
#mainnav a:hover {
	font-size: 125%; /* font-size moved other elements */
	/*transform: scale(1.1);*/
	
}

.youtube {
	width: 40%;
}

.soundcloud {
	width: 40%;
}

.images {
	width: 40%;
}

.primes td {
	padding-left: 30px;
	padding-right: 30px;
}

#primesheader td {
	padding-bottom: 20px;
}

#competition1 {
	position: relative;
	padding-bottom: 10px;
	left: -50px;

	max-width: 50%;
	height: auto;
}

#competition2 {
	position: relative;
	left: 50px;

	max-width: 50%;
	height: auto;
}

canvas {
	padding:0;
	margin:auto;
	margin-top: 40px;
	display:block; /* this centers the canvas */
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}

.links {
	text-align: center;
}

.links ul {
	padding: 0px;
	display: inline-block;
	float: center;
	list-style: none;
}

.links ul li {
	text-align: center;
	display: inline-block;
	/*width: 40%;*/
}

.links ul li a {
	float: center;
}

a:active, a:link, a:visited, a:focus {

	/*padding-top: 30px;*/
	color: #FFFFFF;
	/*border: 5px solid transparent;*/
}

/* from http://stackoverflow.com/questions/556153/inline-elements-shifting-when-made-bold-on-hover */
a::after {
	/*font-size: 150%;
	display:block;
    content:attr(title);
    font-weight:bold;
    height: 1px;
    color:transparent;
    overflow:hidden;
    visibility:hidden;
    margin-bottom: 50px;*/
}